@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #f9fbff;
  font-family: Lato;
  font-style: normal;
}

.footer-main-container {
  background-color: #4972a3;
  height: 175px;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  padding-top: 12px;
}
.footer-column-1,
.footer-bottom-row__icons {
  cursor: pointer;
}
.footer-column-1 {
  color: white;
  font-size: 13px;
  line-height: 16px;
  padding-left: 2%;
}

.footer-bottom-row {
  text-align: center;
}

.footer-bottom-row__icons {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
}

.form-questions-main-container {
  width: 100vw;
  height: 100vh;
}

.MuiMobileStepper-dotActive {
  background-color: #4972a3;
}

.MuiMobileStepper-root {
  background-color: transparent;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.first-page-form-container-main {
  display: flex;
  justify-content: center;
}

.first-page-form-container {
  top: 10%;
  background-color: #ffff;
  box-shadow: 0px 4px 4px #eae9e9;
  border-radius: 40px;
  position: absolute;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5% 5% 6%;
}

.first-page-header {
  margin-bottom: 13%;
}

.first-page-form {
  line-height: 2.5rem;
}

.small-input-form,
.wide-input-form,
.largest-submit-input-form,
.dropdown {
  border: 1px solid #4972a3;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  padding: 3%;
}

.small-input-form {
  width: 70%;
  height: 1.8rem;
}

.wide-input-form {
  width: 100%;
  margin-top: 5%;
  height: auto;
}

.largest-submit-input-form {
  width: 100%;
  margin-top: 5%;
  height: 7.5rem;
}

.dropdown {
  width: 50%;
  height: 2.2rem;
}

.all-page-forms {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  scroll-behavior: smooth;
}

.single-page-form-question-container {
  background: #ffffff;
  border-radius: 40px;
  width: 60%;
  height: auto;
  padding: 3% 3% 5% 6%;
  display: flex;
  flex-direction: column;
  margin: auto;
  line-height: 1.8rem;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.dental-pain-form-question {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.dental-pain-form-column,
.dental-pain-form-column-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-question-header {
  margin-bottom: 0;
}

.form-question-header-caption {
  margin-top: 0;
  font-size: 0.75rem;
}

.wide-button-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.wide-button {
  background-color: #4972a3;
  border-radius: 10px;
  width: 70%;
  height: auto;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin-top: 5%;
  padding: 4%;
}

/*********************************HOMEBODY**********************/
#bookbutton {
  background-color: #517fb6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: 10px;
}
.container {
  font-family: "Space Mono", monospace;
  font-weight: bold !important;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 5rem;
}
.homeImg {
  width: 475px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  box-shadow: 3px 2px 2px rgb(148, 147, 147);
}

/*********************************HAMBURGER**********************/

.second-appinion-logo {
  padding-left: 5%;
  margin: 10px 10px;
}

.hamburger-icon {
  padding-right: 5%;
  cursor: pointer;
}

.nav-links-container {
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
  color: white;
  margin: 0 !important;
  /* font-weight: 400; */
  /* transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  text-decoration: none;
  /* background-color: blue; */
}

.hamburger-container {
  outline: none;
}

.hamburger-close {
  display: flex;
  position: absolute;
  left: 28%;
  justify-content: flex-end;
  color: white;
  font-weight: bold !important;
}

.nav-li {
  background-color: #4972a3 !important;
  color: white !important;
  font-weight: bold !important;
  letter-spacing: 0.9px !important;
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 30% !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .homeImg {
    width: 275px;
    margin-left: 1.2rem;
  }
}

/*********************************BOTTOMBODY**********************/
.btmBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
}
.pic {
  width: 100px;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .btmBody {
    width: 100%;
    margin-left: 3.2rem;
  }
  .pic {
    width: 50%;
    font-size: 5px;
  }
}

/*********************************WELCOME**********************/
.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.welcomeImg {
  width: 475px;
}
.welcomeBttn {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  margin: 25px;
}
.signup {
  padding-bottom: 5px;
}
.signin {
  padding-bottom: 5px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome {
    width: 100%;
  }
  .welcomeImg {
    width: 50%;
    font-size: 5px;
  }
}

/*********************************NAVBAR**********************/
