.first-page-form-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.first-page-form-container {
  margin-top: 5%;
  margin-bottom: 12%;
  background-color: #ffff;
  box-shadow: 0px 4px 4px #eae9e9;
  border-radius: 40px;
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5% 5% 6%;
  word-wrap: break-word;
}

.first-page-form input {
  line-height: 2.5rem;
}

.small-input-form,
.wide-input-form,
.largest-submit-input-form,
.dropdown {
  border: 1px solid #4972a3;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-input-form {
  width: 50%;
  height: 1.8rem;
}

.wide-input-form {
  width: 100%;
  margin-top: 5%;
  height: auto;
}

.largest-submit-input-form {
  width: 100%;
  margin-top: 5%;
  height: 7.5rem;
}

.dropdown {
  width: 50%;
  height: 2.2rem;
}

.all-page-form-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.all-page-form-container-container,
.all-page-form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.all-page-forms {
  width: 30%;
  position: relative;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  scroll-behavior: smooth;
}

.single-page-form-question-container {
  background: #ffffff;
  border-radius: 40px;
  height: 30vh;
  width: 30vw;
  padding: 5% 5% 5% 6%;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  flex-wrap: wrap;
  margin-bottom: 3%;
  box-shadow: 0px 4px 4px #eae9e9;
}

.dental-pain-form-question {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.dental-pain-form-column,
.dental-pain-form-column-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-question-header {
  margin-bottom: 0;
}

.form-question-header-caption {
  margin-top: 0;
  font-size: 0.9rem;
}

.wide-button-form-container {
  display: flex;
  justify-content: center;
}

.wide-button {
  background-color: #4972a3;
  border-radius: 10px;
  width: 70%;
  height: 20%;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin-top: 5%;
  padding: 3%;
}

.required::before {
  content: "*";
  color: red;
}

.confirm-page-header {
  margin-bottom: 5%;
}

.MuiInputBase-input {
  color: #000;
}

.confirmation-page-container {
  width: 100vw;
  height: 100vh;
}
.confirmation-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.confirmation-page-image,
.confirmation-text-container {
  margin: auto;
}

.confirmation-page-image {
  position: relative;
  width: 40rem;
  height: auto;
  object-fit: contain;
  margin-top: 10%;
}

.confirmation-text-container {
  width: 80%;
  margin-top: 5%;
}
.confirmation-text {
  font-family: "Space Mono", monospace;
  font-size: 1.7rem;
}
.completeButton {
  background-color: #517fb6;
  color: white;
  width: 100px;
  height: 45px;
  font-size: 2.5vh;
  border-radius: 25px;
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .confirmation-page-image {
    position: relative;
    width: 20rem;
    height: auto;
    object-fit: contain;
    margin-top: 10%;
  }
  .confirmation-text {
    font-family: "Space Mono", monospace;
    font-size: 1rem;
  }
}
/* Stepper */

.MuiMobileStepper-dotActive {
  background-color: #4972a3;
}

.MuiMobileStepper-root {
  background-color: transparent;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

/* Results page */

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
