/*********************************HOMEBODY**********************/
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  margin: auto;
  width: 40vw;
}

.headerHome {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.headerTitle {
  text-align: center;
  color: #09015d;
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
}
.headerHome p {
  font-weight: 600;
  font-size: 1.25rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.homeImg {
  width: 40vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-link {
  text-decoration: none;
}

#bookbutton {
  background-color: #517fb6;
  width: 30vw;
  height: 8vh;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/*********************************BOTTOMBODY**********************/

h2 {
  color: #517fb6;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 10px;
}

.square-icons-container {
  display: flex;
  justify-content: center;
}
.square-icon {
  height: 80%;
  width: 80%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    justify-content: flex-start;
    width: 100vw;
  }
  .homeImg {
    width: 90%;
    margin-right: 2rem;
  }
  #bookbutton {
    width: 100%;
  }
  .square-icons-container {
    font-size: 1rem;
    display: flex;
  }
  .square-icon {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 30%;
    width: 25%;
  }
}
