/*********************************WELCOME**********************/
.onboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 10px;
}
.onboard-text {
  width: 80%;
}

.onboard-text h1 {
  font-weight: 700;
  text-align: left !important;
  font-size: 2rem;
}
.onboard-text p {
  font-weight: 400;
  text-align: left;
  font-size: 1.5rem;
}
